@media only screen and (min-width: 768px) {
    /* CSS that should be displayed if width is 768px (md) or more goes here */

    .activity-table-header {
        border-bottom: 1px solid #101B2B;
    }
    .activity-table-cell {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #101B2B;
    }   
}

.activity-table-row {
    border-bottom: 1px solid #101B2B;
    padding-bottom: 5px;
    margin-bottom: 25px;
}