/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap breakpoints
*/
/* Extra-Small devices (less than 576px) */
.title-1 {
    font-size: 28px;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {  
    .title-1 {font-size: 40px;}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
    .title-1 {font-size: 48px;}
}


/* Small devices (landscape phones, 544px and up) */
/* @media (min-width: 544px) {  
    .class-name {font-size: 16px;}
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {  
    .class-name {font-size: 30px;}
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    .class-name {font-size: 40px;}
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
    .class-name {font-size: 48px;}
} */