.theme-color {
    /* color: #F7882F; */
    /* color: rgb(223, 88, 55); */
    color: rgb(200, 16, 46);
}
.theme-dark {
    color: #101B2B;
}
.theme-light {
    /* color: #F2F2F2; */
    color: #F7C331;
}
.theme-white{
    color: white;
}

.theme-box-color {
    /* background-color: #F7882F ; */
    /* background-color: rgb(223, 88, 55) ; */
    background-color: rgb(200, 16, 46);
}
.theme-box-dark {
    /* dcc7aa */
    /* background-color: #ebd4b5; */
    background-color: #101B2B;
}
.theme-box-light {
    background-color: #f3e8d9;
    /* background-color: #F7C331; */
}
.theme-box-white{
    background-color: white;
}


.theme-button-back{
    /* background-color: #F7882F ; */
    background-color: rgb(223, 88, 55) ;
}

/* Button styles */
.theme-dark-button {
    border-radius: 0;
}
.theme-dark-button:hover {
    color: rgb(200, 16, 46);
}

.theme-color-button {
    border-radius: 0;
}
.theme-color-button:hover {
    color: #F7C331;
}


.theme-input {
    border-radius: 0;
    border-color: #101B2B;
}
.theme-title1 {
    color:rgb(200, 16, 46);
}
.theme-title2 {
    color:#e5bd95;
}

.navheading {
    color: rgb(223, 88, 55);  
}

.breadcrumb >.active {
    color: rgb(200, 16, 46);
 }
 .breadcrumb >.active a {
    color: rgb(200, 16, 46);
 }
 .breadcrumb {
    background-color: white;
 }

 /* .logo {
     height: 50px;
     width: 50px;
     background-image: url("../images/logo.png");
     background-size: contain;
     margin-left: 20px;
     margin-top: 10px;
     border-radius: 10px;
 } */

 .tryBack {
     background-color: rgb(223, 88, 55);
 }

 .btn-warning {
    color: white;
 }

 .btn-warning:hover {
    color: rgb(223, 88, 55);
 }