{% extends "layout.html" %}
{% block cssblock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/radioinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activitytable.css') }}">
<link rel="stylesheet" type="text/css" href="../static/css/assessment.css">
<link rel="stylesheet" type="text/css" href="../static/css/dotnav.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block javascriptblock %}
<script type="text/javascript">
    // For converting python list object to JSON object...
    // No need for running 2 for loops as done previously.
    // global variable
    var headings_array = {{ activity_data| tojson | safe }};
</script>
<script type="text/javascript" src="../static/javascript/activity.js"></script>
<script type="text/javascript" src="../static/javascript/assessment.js"></script>
{% endblock %}

{% block titleblock %} 
  <title>Assess Your Risk - Guard Your Heart</title>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Assess Your Risk</li>
    </ol>
</nav>
<!-- <div class="jumbotron mb-0 theme-box-light">
    <div class="container">
        <div class="row">
            <h1 class="display-4 theme-title2">Assess your CVD risk</h1>
        </div>
    </div>
</div> -->
<!-- class="needs-validation"  -->
<!-- onsubmit="checksubmit()" -->
<!-- 
<div class="container-fluid" style="background-color: wheat;"></div> -->

<form action="{{ url_for('results') }}" method="post" onsubmit="return validateActivity()">
    <div class="container-fluid formBack" id="age_que" style="display: block;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">How old are you?</h1>
                    <div class="row">
                        <input class="col-md-4 form-control-lg theme-input mx-auto inputBorder" type="number" id="age"
                            placeholder="Enter your age" name="age" min="35" max="105" required autofocus>
                        <span id="error1"></span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <!-- <button class="button-prev-next" type="button" id='invisible' disabled name="back">Back</button> -->
                </div>
                <div class="col-6">
                    <button class="button-prev-next" type="button" style="float: right;" id="ageNextButton"
                        onclick="nextQue('age')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="height_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger11.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">What is your height (in cms)?</h1>
                    <div class="row">
                        <input class="col-md-4 form-control-lg theme-input mx-auto inputBorder" type="number"
                            id="height" placeholder="Enter your height" name="height" min="90" max="230" required>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next" type="button" onclick="prevQue('height')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next" type="button" style="float: right;" id="heightNextButton"
                        onclick="nextQue('height')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="weight_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger5.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">What is your weight (in kgs)?</h1>
                    <div class="row">
                        <input class="col-md-4 form-control-lg theme-input mx-auto inputBorder" type="number" step=".01"
                            id="weight" placeholder="Enter your weight" name="weight" min="40" max="230" required>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next moveButton" type="button" onclick="prevQue('weight')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next moveButton" type="button" style="float: right;"
                        id="weightNextButton" onclick="nextQue('weight')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="gender_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger6.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5" id="gender">What is your gender?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="male">
                                <input type="radio" class="form-check-input option-input" id="male" name="gender"
                                    value="1" checked>Male
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="female">
                                <input type="radio" class="form-check-input option-input" id="female" name="gender"
                                    value="0">Female
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next" type="button" onclick="prevQue('gender')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next" type="button" style="float: right;" id="genderNextButton"
                        onclick="nextQue('gender')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="bp_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger7.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5" id="bPressure">Do you know your Blood
                        Pressure?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="bpyes">
                                <input type="radio" class="form-check-input option-input" id="bpyes" name="bp" value="1"
                                    onclick="bpCheckFunction()">Yes
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="bpno">
                                <input type="radio" class="form-check-input option-input" id="bpno" name="bp" value="0"
                                    onclick="bpCheckFunction()" checked>No
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="bloodpressure" style="display:none">
                        <div class="container d-md-table w-100 my-5">
                            <div class="row w-75 mx-auto my-3">
                                <div class="col-sm text-right">
                                    <p class="lead">Systolic Blood Pressure (top number)</p>
                                </div>
                                <div class="col-sm form-check my-auto">
                                    <input class="form-control-lg theme-input mx-auto w-100 inputBorder" type="number"
                                        id="systolicbp" min="70" max="228" name="systolicbp" placeholder="70 - 228 mmHg"
                                        step="0.1">
                                </div>
                            </div>

                            <div class="row w-75 mx-auto my-3" style="margin-top: 20px;">
                                <div class="col-sm text-right ">
                                    <p class="lead">Diastolic Blood Pressure (bottom number)</p>
                                </div>
                                <div class="col-sm form-check my-auto">
                                    <input class="form-control-lg theme-input mx-auto w-100 inputBorder" type="number"
                                        id="diastolicbp" min="50" max="150" name="diastolicbp"
                                        placeholder="50 - 150 mmHg" step="0.1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next moveButton" type="button" onclick="prevQue('bp')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next moveButton" type="button" style="float: right;" id="bpNextButton"
                        onclick="nextQue('bp')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="chol_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger12.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">Do you know your Cholesterol level?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="cholyes">
                                <input type="radio" class="form-check-input option-input" id="cholyes" name="chol"
                                    value="1" onclick="cholCheckFunction()">Yes
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="cholno">
                                <input type="radio" class="form-check-input option-input" id="cholno" name="chol"
                                    value="0" onclick="cholCheckFunction()" checked>No
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="cholestrol" style="display:none">
                        <div class="container d-md-table w-100 my-5">
                            <div class="row w-100 mx-auto my-3">
                                <div class="col-sm form-check my-auto">
                                    <div class="row">
                                        <input class="col-md-4 form-control-lg theme-input mx-auto inputBorder w-100"
                                            type="number" id="totalcholes" placeholder="2 - 10.5 mmol/L" min="2"
                                            max="10.5" name="totalcholes" step="0.1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next moveButton" type="button" onclick="prevQue('chol')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next moveButton" type="button" style="float: right;"
                        id="cholesterolNextButton" onclick="nextQue('chol')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="sugar_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger4.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">Do you know your Blood Sugar level?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="sugaryes">
                                <input type="radio" class="form-check-input option-input" id="sugaryes"
                                    name="sugarradio" value="1" onclick="sugarCheckFunction()">Yes
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="sugarno">
                                <input type="radio" class="form-check-input option-input" id="sugarno" name="sugarradio"
                                    value="0" onclick="sugarCheckFunction()" checked>No
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="sugar" style="display:none">
                        <div class="container d-md-table w-100 my-5">
                            <div class="row w-100 mx-auto my-3">
                                <div class="col-sm form-check my-auto">
                                    <div class="row">
                                        <input class="col-md-4 form-control-lg theme-input mx-auto w-100 inputBorder"
                                            type="number" id="bloodsugar" placeholder="1 - 17.4 mmol/L"
                                            name="bloodsugar" min="1" max="17.4" step="0.1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next" type="button" onclick="prevQue('sugar')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next" type="button" style="float: right;" id="sugarNextButton"
                        onclick="nextQue('sugar')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="smoke_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger8.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5" id="smo">Do you smoke?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="yes">
                                <input type="radio" class="form-check-input option-input" id="yes" name="smoke"
                                    value="1">Yes
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="no">
                                <input type="radio" class="form-check-input option-input" id="no" name="smoke" value="0"
                                    checked>No
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next" type="button" onclick="prevQue('smoke')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next" type="button" style="float: right;" id="smokeNextButton"
                        onclick="nextQue('smoke')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="alco_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack" id="alco">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
                <div class="proIndi mr-2"></div>
            </div>
            <div class="row curveRow">
                <div class="col-sm-4">
                    <img src="../static/images/Larger10.png" class="largeImg">
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 pb-4 text-center theme-title1 mt-5">Do you drink alcohol?</h1>
                    <div class="row mx-auto">
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="alcoholyes">
                                <input type="radio" class="form-check-input option-input" id="alcoholyes" name="alcohol"
                                    value="1">Yes
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm form-check">
                            <label class="form-check-label radio-row" for="alcoholno">
                                <input type="radio" class="form-check-input option-input" id="alcoholno" name="alcohol"
                                    value="0" checked>No
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next moveButton" type="button" onclick="prevQue('alco')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <button class="button-prev-next moveButton" type="button" style="float: right;"
                        id="alcoholNextButton" onclick="nextQue('alco')" name="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="pa_que" style="display: none;">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center theme-box-color contentBack" id="pa">
            <div class="row my-2" style="margin: 0 auto;">
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi mr-2"></div>
                <div class="proIndi2 mr-2"></div>
            </div>
            <div class="container" style="background-color: white; border-radius: 20px;">
                <div class="row curveRow">
                    <div class="col-sm-4">
                        <img src="../static/images/Larger9.png" class="largeImg">
                    </div>
                    <div class="col-sm-8">
                        <h1 class="display-4 pb-4 text-center theme-title1 mt-5">Do you do any physical activity?</h1>
                        <div class="row mx-auto">
                            <div class="col-sm form-check">
                                <label class="form-check-label radio-row" for="activityyes">
                                    <input type="radio" class="form-check-input option-input" id="activityyes"
                                        name="activity" value="1" onclick="activityCheckFunction()">Yes
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm form-check">
                                <label class="form-check-label radio-row" for="activityno">
                                    <input type="radio" class="form-check-input option-input" id="activityno"
                                        name="activity" value="0" onclick="activityCheckFunction()" checked>No
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="activities" style="display: none;">
                            <div class="container d-none my-5" id="activitytable" name="activitytable">
                                <div class="d-md-table-row d-none d-md-block theme-dark">

                                    <div class="d-md-table-cell activity-table-header">
                                        <h5>Activity</h5>
                                    </div>

                                    <div class="d-md-table-cell activity-table-header">
                                        <h5>Hours/Day</h5>
                                    </div>

                                    <div class="d-md-table-cell activity-table-header">
                                        <h5>Days/Week</h5>
                                    </div>

                                    <div class="d-md-table-cell activity-table-header">
                                        <h5>Delete</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <select class="form-control selectpicker col-md-4" id="headings" data-live-search="true"
                                    onchange="sub(this.value)" title='Select an activity'>
                                </select>
                                <select class="form-control selectpicker col-md-4" data-live-search="true"
                                    id="activityname" title='Select a sub-activity'>
                                </select>

                                <!-- <input class="col-md-2 form-control-lg theme-input" type="number" id="kmsorhours"
                                    placeholder="Hours per day" name="kmsorhours"> -->
                                <div class="col-md-2 form-group">
                                    <!-- <label for="sel1">Duration</label> -->
                                    <select class="form-control selectpicker" id="kmsorhours" name="kmsorhours">
                                        <option value="0" disabled selected>Select duration</option>
                                        <option value="0.5">0.5</option>
                                        <option value="1">1</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2">2</option>
                                        <option value="2.5">2.5</option>
                                        <option value="3">3</option>
                                        <option value="3.5">3.5</option>
                                        <option value="4">4</option>
                                        <option value="4.5">4.5</option>
                                        <option value="5">5</option>
                                        <option value="5.5">5.5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <!-- <input class="col-md-2 form-control-lg theme-input" type="number" id="daysperweek"
                                    placeholder="Days per week" name="daysperweek"> -->
                                    <div class="col-md-2 form-group">
                                        <!-- <label for="sel2">Days per week</label> -->
                                        <select class="form-control selectpicker" id="daysperweek" name="daysperweek">
                                            <option value="0" disabled selected>Select days per week</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                            </div>
                            <button type="button" class="btn btn-block theme-white theme-box-color theme-color-button col-sm-4 mx-auto mb-4 py-3"
                                onclick="addFunction()" id='addActivityButton'>Add Activity
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6"><button class="button-prev-next moveButton" type="button" onclick="prevQue('pa')"
                        name="back">Back</button></div>
                <div class="col-6">
                    <input type="submit" class="button-prev-next" style="float: right;" id="submitButton">
                </div>
                <!-- <button class="button-prev-next moveButton" type="button" style="float: right;"
                        disabled>Submit</button> -->
            </div>
        </div>
    </div>
    <!-- <input type="button" class="btn" value="Preview" id="preview" style="display: none;" onclick="preview()"> -->
    <!-- <input type="submit"
        class="btn btn-block my-5 py-4 btn-lg theme-box-color theme-button-back theme-white theme-dark-button col-sm-4 mx-auto"
        value="Submit" id="submit_final" style="display: none; border-radius: 10px;"> -->
</form>
{% endblock %}